<div class="container">

  <div class="row">
    <h1>all your moods</h1>
  </div>

  <div class="row">
    <% @moods.each do |mood| %>
      <div class="col-xs-12 col-md-5 col-md-offset-1 col-lg-3 col-lg-offset-1">

        <%= link_to mood_path(mood) do %>

          <div class="mood-card" style="background-image: url(<%= mood.image_url %>)">

            <div class="mood-content">

              <div class="mood-title">
                <h4> <span class="mood-title"><%= mood.name %></span></h4>
              </div>

              <div class="mood-details">

                <h6><%= mood.description %></h6>

                <hr class="sm-border-white">

                <% if mood.users_books.size != 0 %>
                  <p>
                    <%= pluralize(mood.users_books.size, 'book') %> in that mood
                  </p>
                <% else %>
                  <p>seems that there is no book yet in your mood!</p>
                <% end %>
              </div>

            </div> <!-- end of mood-content -->

          </div> <!-- end of mood-card -->



        <% end %>


      </div> <!-- end of cols -->
    <% end %> <!-- end of iteration over moods -->

 </div> <!-- end of row -->



</div> <!-- end of container -->

<%= javascript_pack_tag 'select2' %>
<%#= javascript_pack_tag 'mood-cards' %>


