<div class="container">

  <div class="row">
    <h1>all your moods</h1>
  </div>

  <div class="row">
    <% @moods.each do |mood| %>
      <div class="col-xs-12 col-md-6 col-lg-4">

        <%= link_to mood_path(mood) do %>

          <div class="mood-card">

            <div class="mood-content">

              <h4><%= mood.name %></h4>
              <h6><%= mood.description %></h6>

              <% if mood.users_books.size != 0 %>
                <p>
                  <%= mood.users_books.size %> books in that mood
                </p>
              <% else %>
                <p>seems that there is no book yet in your mood!</p>
              <% end %>
            </div> <!-- end of mood-content -->

            <div class="mood-actions">
              <%#= link_to '#', class: 'cta-md' do %>
              <%# end %>
              <%= link_to '#', class: 'cta-md' do %>
                <i class="fas fa-share"></i>
              <% end %>
            </div> <!-- end of mood actions -->


          </div> <!-- end of mood-card -->



        <% end %>


      </div> <!-- end of cols -->
    <% end %> <!-- end of iteration over moods -->

 </div> <!-- end of row -->



</div> <!-- end of container -->

<%= javascript_pack_tag 'select2' %>


