<div class="container">
  <!-- footer for general pages -->
  <% if action_name == "home" || action_name == "results"  %>
    <div id="footer-nav">
      <ul>
        <li><%= link_to "add a new book", new_users_book_path, class: "cta-big" %></li>
        <li><%= link_to "search the next book to read", search_path, class: "cta-big" %></li>
      </ul>
    </div>
  <% elsif controller_path == "users_books" && action_name == "show" %>
    <!-- footer for single book page -->
    <div id="single-book-footer">
      <ul>
        <li><%= link_to "return to your pile", root_path, class: 'cta-md' %></li>
        <li><%= link_to "add a book to your pile", new_users_book_path, class: 'cta-md' %></li>
        <li><%= link_to "search your next book", search_path, class: 'cta-md' %></li>
      </ul>
    </div>
  <% elsif controller_path == "moods" && action_name == "index" %>
    <!-- footer for single book page -->
    <div id="index-mood-footer">
      <ul>
        <li><%= render "partials/new-mood" %></li>
        <li><%= link_to "search the next book to read", search_path, class: "cta-big" %></li>
      </ul>
    </div>
  <% else %>
    <p></p>
  <% end %>

</div>



