<!-- modal -->
<div class="modal fade" id="add-book-modal-<%= mood.id %>" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3>add some books to your mood</h3>

        <%= form_tag add_book_path(mood), method: 'patch', id:"add-book-modal-form" do %>
           <h6>add some books to that mood</h6>
           <%= select_tag "books[]", options_from_collection_for_select(UsersBook.all, "id", "title"), multiple: 'multiple', class: "select2-book-modal mood-#{test}", id: "book-modal-#{mood.id}" %>
           <button type="submit" class="button-border-blue">add books</button>
        <% end %>

      </div> <!-- end of modal-body -->

      <div class="modal-footer">
        <button type="button" class="cta-neon" data-dismiss="modal">close</button>
      </div>
    </div> <!-- end of modal body -->
  </div>

</div> <!-- end of modal -->



<div class="col-xs-12 col-md-6 col-lg-3">
  <div class="mood-card">

    <div class="mood-content">

      <h4><%= mood.name %></h4>
      <h6><%= mood.description %></h6>

      <% if mood.users_books.size != 0 %>
        <p>
          <%= mood.users_books.size %> books in that mood
        </p>
      <% else %>
        <p>seems that there is no book yet in your mood!</p>
      <% end %>
    </div> <!-- end of mood-content -->

    <div class="mood-actions">
      <!-- Button trigger modal -->
      <button type="button" class="share-icons" data-toggle="modal" data-target="#add-book-modal-<%= mood.id %>">
        <i class="fas fa-plus-circle"></i>
      </button>

      <%= link_to '#', class: 'cta-md' do %>
        <i class="fas fa-share"></i>
      <% end %>
    </div> <!-- end of mood actions -->

  </div> <!-- end of mood-card -->

</div> <!-- end of col -->


