<div id="soffie-logo">
  <%= link_to root_path do %>
    <%= image_tag "logo_blue.png" %>
  <% end %>
</div>

<!--   <button class="profile-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="menu-bars"><i class="fas fa-bars"></i></span>
  </button>

  <div class="collapse" id="collapseExample">
    <div class="well"> -->

<div id="navbar">
  <button id="menu-trigger" class="profile-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="menu-bars"><i class="fas fa-bars"></i></span>
  </button>

  <div id="menu-content" class="hidden">
    <button id="close-menu" class="profile-button" >
       <span class="menu-bars"><i class="fas fa-times"></i></span>
    </button>

    <div id="menu-header">
      <h1>hello Claire!</h1>
      <h4>nice to see you</h4>
    </div>

    <div id="menu-actions">
      <ul>
        <li><%= link_to 'update my profile', edit_user_registration_path, class: 'cta-big-white' %></li>
        <li><%= link_to 'take the reading test', speed_test_path, class: 'cta-big-white' %>

          <p>Your average reading time is now: <%= current_user.reading_speed %> words per minute. <span class="accent-text">How do we calculate that?</span></p>
        </li>
      </ul>
    </div>

  </div>

</div>



