<div class="row">

    <div class="col-md-10 col-md-offset-1">
    <div class="first-result" id="first-result">

      <div class="book-image">
        <%= image_tag @final_books.first.image_url %>
      </div>

      <div class="book-details">

        <h3><%= @final_books.first.title.downcase.capitalize %></h3>
        <hr class="sm-border-blue">
        <h4><%= @final_books.first.author %></h4>
        <div class="book-pages">
          <p><%= @final_books.first.num_pages %> pages <br>
            <%= @final_books.first.reading_time.to_i / 3600 %> hours of reading, don't forget to stay hydrated
          </p>
        </div>

        <div class="book-description">
          <p><%= @final_books.first.description %></p>
        </div>

        <div class="book-actions">
          <%= link_to "great soffie, I'll read this one", users_book_path(id: @final_books.first.id, users_book: {status: "Reading in progress"}), method: :patch, class: "button-peach", id: 'choose-this-book' %>
        </div>

      </div> <!-- end of .book-details -->
    </div> <!-- end of .first-result -->
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="choose-book-modal" tabindex="-1" role="dialog" aria-labelledby="choose-book-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="choose-book-modalLabel">yay!</h2>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">you have a new book to read!</h4>
        now is time to close this computer and find your book.
      </div>
      <div class="modal-footer">

<!--         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>



