<div class="container">

  <h1> welcome, <%= current_user.first_name%></h1>
  <h4>you have <%= pluralize(current_user.users_books.size, "book") %> in your pile.</h4>
  <p>you are currently reading (...) books and you have <%= pluralize(@moods.size, "mood") %> created.</p>

</div>  <!-- end of container -->

<div id="carousel-container">

  <!-- <div class="container"> -->

  <div class="book-carousel">
    <% @users_books.each do |book| %>
      <div class="book-card">

        <div class="book-image">
        <% if book.image_url.present? %>
          <%= image_tag book.image_url %>
        <% end %>
        </div>

        <div class="book-carousel-description">

          <div class="main-description">
            <h4><%= link_to book.title, users_book_path(book) %></h4>
            <h6><%= book.author %></h6>
          </div>

          <div class="reading-details">
            <% unless book.categories.nil? %>
              <ul>
                <% book.categories.each do |category| %>
                  <li class="book-category"> <%= category.name %></li>
                <% end %>
              </ul>

            <!-- Reading Progress Bar -->

            <p><%=book.completed_pages%> out of <%= book.num_pages%> pages</p>
              <div id="bar">
                <div id="progress-bar"></div>
              </div>

            <% end %> <!-- end of iteration over the categories -->
            <p>35 out of <%= book.num_pages%> pages</p>

          </div>

        </div> <!-- end of book carousel description -->
      </div>
    <% end %>
  </div>

</div> <!-- end of carousel container -->


<div class="container">

  <h4>oh, all the moods that you have!</h4>

  <div class="row">
    <% @moods[0..3].each do |mood| %>

    <%= render "partials/mood-card", mood: mood %>

    <% end %>

  </div> <!-- end of row -->

</div> <!-- end of container -->


<!-- Modal -->
<div class="modal fade" id="pagesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <ol>
          <% @books_in_progress.each do |book| %>
            <p><%= book.title %></p>
            <%= simple_form_for book do |f| %>
              <%= f.input :completed_pages %>
              <%= f.submit %>
            <% end %>
          <% end %>
        </ol>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'completed-pages-read' %>
<%= javascript_pack_tag 'select2' %>



