<div class="container" id="homepage-title">
  <div class="row">
    <h1> Welcome, <%= current_user.first_name if current_user.first_name.present? %>!</h1>
    <h4>you have <%= pluralize(current_user.users_books.size, "book") %> in your pile.</h4>
  </div>
</div>  <!-- end of container -->

<div id="carousel-container">
  <div id="books-stats">

    <ul>
      <li>currently reading <%= pluralize(@books_in_progress.size, "book") %></li>
      <li><%= @pages_to_read %> pages to read in your pile</li>
      <li><%= (@pages_to_read * current_user.reading_speed.to_i) / 3600 %> hours of reading </li>
      <li></li>
    </ul>

  </div>


  <div class="book-carousel">
    <% @users_books.each do |book| %>
      <div class="book-card">

        <div class="book-image">
          <% if book.image_url.present? %>
            <%= image_tag book.image_url %>
          <% end %>
        </div>

        <div class="book-carousel-description">

          <div class="main-description">
            <h4><%= link_to book.title, users_book_path(book) %></h4>
            <h6><%= book.author %></h6>
          </div>

          <div class="reading-details">
            <% unless book.categories.nil? %>
              <ul>
                <% book.categories.each do |category| %>
                  <li class="book-category"> <%= category.name %></li>
                <% end %>
              </ul>

            <!-- Reading Progress Bar -->

            <p><%=book.completed_pages%> out of <%= book.num_pages%> pages</p>
              <div class="bar">
                <div class="progress-bar" data-completedpages="<%= book.completed_pages %>" data-bookpages="<%= book.num_pages %>"></div>
              </div>

            <% end %> <!-- end of iteration over the categories -->

          </div>

        </div> <!-- end of book carousel description -->
      </div>
    <% end %>
  </div> <!-- end of book-carousel -->

</div> <!-- end of carousel container -->



<div class="container" id="all-moods">

  <h4> books to match your reading mood</h4>

  <div class="row">
    <% @moods.each do |mood| %>

    <%= render "partials/mood-card", mood: mood %>

    <% end %>

    <div class="col-xs-12 col-md-6 col-lg-3">
        <%= link_to moods_path do %>
          <div id="last-mood-card">
            <h6>see all your moods</h6>

          </div> <!-- end of mood-card -->
        <% end %>

    </div> <!-- end of col -->

  </div> <!-- end of row -->

</div> <!-- end of container -->


<div id="soffie-button">
  <%= image_tag "soffie-icon_white.svg", id:"soffie-icon" %>
</div>

<div id="soffie-update-form" class="hidden">
  <%= form_tag update_completed_pages_path, method: :patch, id: "update-book-form" do %>

    <h6>choose the book to update</h6>
    <%=  select_tag "users_books[]", options_from_collection_for_select(@books_in_progress, "id", "title"), class: "select2-update-selection", id: "book-selector" %>
    <p>I'm on page <input type="text" name='book[completed_pages]' placeholder="2"> now, yay</p>

  <% end %>

</div>


<%= javascript_pack_tag 'soffie-update-form' %>
<%= javascript_pack_tag 'select2' %>
