<div class="container">

  <h1> welcome back, <%= current_user.first_name%></h1>

</div>  <!-- end of container -->

<div id="carousel-container">

  <!-- <div class="container"> -->

  <div class="book-carousel">
    <% @users_books.each do |book| %>
      <div class="book-card">

        <div class="book-image">
        <% if book.image_url.present? %>
          <%= image_tag book.image_url %>
        <% end %>
        </div>

        <div class="book-carousel-description">
         <h3><%= book.title %></h3>
         <h4><%= book.author %></h4>
         <p><%= book.num_pages%> pages</p>
        </div>

      </div>
    <% end %>
  </div>

  <!-- </div> -->
  <!-- Image Carousel -->

</div> <!-- end of carousel container -->


<div class="container">


</div> <!-- end of container -->







