<div class="container">

  <h1> welcome, <%= current_user.first_name%></h1>
  <h4>you have <%= pluralize(current_user.users_books.size, "book") %> in your pile.</h4>
  <p>you are currently reading (...) books and you have <%= pluralize(@moods.size, "mood") %> created.</p>

</div>  <!-- end of container -->

<div id="carousel-container">

  <!-- <div class="container"> -->

  <div class="book-carousel">
    <% @users_books.each do |book| %>
      <div class="book-card">

        <div class="book-image">
        <% if book.image_url.present? %>
          <%= image_tag book.image_url %>
        <% end %>
        </div>

        <div class="book-carousel-description">

          <div class="main-description">
            <h4><%= link_to book.title, users_book_path(book) %></h4>
            <h6><%= book.author %></h6>
          </div>

          <div class="reading-details">
            <% unless book.categories.nil? %>
              <ul>
                <% book.categories.each do |category| %>
                  <li class="book-category"> <%= category.name %></li>
                <% end %>
              </ul>
            <% end %>
            <p>35 out of <%= book.num_pages%> pages</p>
          </div>

        </div> <!-- end of book carousel description -->

      </div>
    <% end %>
  </div>

</div> <!-- end of carousel container -->

<div class="container">

  <h4>oh, all the moods that you have!</h4>

  <div class="row">
    <% @moods[0..3].each do |mood| %>
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="mood-card">

            <div class="mood-content">

              <h4><%= mood.name %></h4>
              <h6><%= mood.description %></h6>

              <% if mood.users_books.size != 0 %>
                <p>
                  <%= mood.users_books.size %> books in that mood
                </p>
              <% else %>
                <p>seems that there is no book yet in your mood!</p>
              <% end %>
            </div> <!-- end of mood-content -->

            <div class="mood-actions">
              <%= link_to '#', class: 'cta-md' do  %>
                <i class="fas fa-plus-circle"></i>
              <% end %>
              <%= link_to '#', class: 'cta-md' do %>
                <i class="fas fa-share"></i>
              <% end %>
            </div> <!-- end of mood actions -->

        </div> <!-- end of mood-card -->


      </div> <!-- end of col -->
    <% end %>

  </div> <!-- end of row -->

</div> <!-- end of container -->



