<div>
  <div class="container">
    <h5>great, your new book is now in your pile!</h5>

    <div class="col-xs-12 col-sm-5">
      <% if @user_book.image_url.present? %>
        <p><%= image_tag @user_book.image_url, width: '70%' %></p>
      <% end %>

    </div>

    <div class="col-xs-12 col-sm-7">
      <p>Title: <%= @user_book.title %></p>
      <p>Author: <%= @user_book.author %></p>
      <p>description: <%= simple_format(@user_book.description) %></p>
      <p><%= @user_book.num_pages %> pages</p>
    </div>

    <div>
        <%= link_to "ADD ANOTHER BOOK", new_users_book_path, class: 'button-peach'  %>
        <%= link_to  "GO TO YOUR PILE", root_path , class: 'button-peach'  %>
    </div>
  </div>
</div>

