<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3>you can read</h3>
        <h4><span class="result-content"></span> words per minute</h4>
        <hr class="md-border-blue">
        <p class="modal-accent">that means you could read the entire
Harry Potter collection in 4 days, without doing anything else, which is a little bit intense, but well, you could.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="cta-special" data-dismiss="modal">close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <%= form_tag updating_users_reading_time_path, method: "patch" do %>
          <%= hidden_field_tag "words_per_minute"%>
          <%= submit_tag "save my result", class: "cta-special" %>
        <% end %>
      </div>
    </div>
  </div>
</div> <!-- end of modal -->

<div class="container">
  <div class="row">

    <div class="col-md-4" id="test-header">
      <h3>Don’t worry, nothing complicated here.</h3>
      <p> All you have to do is get a coffee, and when you’re ready, hit the start button. Read the extract at your regular pace, it’s not a competition, and it will help Soffie to me more accurate. When you’re done, hit the button: that’s it..</p>
      <button id="starter" class="button-peach">start timer</button>
    </div> <!-- end of #test-header -->

      <div class="col-md-8" id="test-text">
        <%= render "partials/speed-test-text" %>

      </div>

    </div> <!-- end of row -->
  </div> <!-- end of container -->

</div>


<%= javascript_pack_tag 'speed_test' %>
