<div class="container">
  <% if policy(UsersBook).create? %>
  <div id="new-book-form">
    <h2>add a new book</h2>
<!--     <form action="<%= users_books_path %>" method='post'>
      <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name='title' placeholder="title">
      <input type="text" name='author' placeholder="author">
      <input type="text" name='isbn' placeholder="isbn">
      <input type="text" name='category' placeholder="category">
      <button type="submit" class="button-border-blue">add a book</button>
    </form> -->
   <%= form_tag users_books_path, method: 'post' do %>
    <input type="text" name='title' placeholder="title">
    <input type="text" name='author' placeholder="author">
    <input type="text" name='isbn' placeholder="isbn">
    <%=  select_tag "categories[]", options_from_collection_for_select(Category.all, "id", "name"), class: "js-example-basic-multiple" %>
    <%= submit_tag "add a book", class: "button-border-blue" %>
   <% end %>
  </div>

  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>

<%= javascript_pack_tag 'select2' %>
