<div class="container">
  <div id="result-header">
    <h1>hola <%= current_user.first_name %> </h1>
    <h3>you want to read a
      <% @categories.each do |category| %>
        <span class="category" data-content="&"><%= category.name %></span>
      <% end %>
      and you have
      <% if params[:day] == "" || params[:hours] == "" %>
        absolutely all the time in the world to read, lucky you.
      <% else %>
        <%= params[:day].to_i * params[:hours].to_i %> hours of reading time.
      <% end %>
      Here are my suggestions.
    </h3>
  </div>
</div>

<div class="container">
    <% if @final_books.size == 1 %>

      <%= render "partials/one-result" %>

    <% elsif @final_books.size == 2  %>

      <%= render "partials/two-results" %>

    <% else %>

      <%= render "partials/multiple-results" %>

    <% end %> <!-- end of if/elsif/else -->

</div> <!-- end of container -->


<%= javascript_pack_tag 'results' %>
