
<div>
  <div class="container">
    <h5>You want to read some fiction and adventure, you have 4 hours a day and you want to finish your book in 5 days. Here's my suggestion.</h5>

    <div class="col-xs-12 col-sm-5">
      <%= image_tag @final_books.first.image_url, alt: "Cover of #{@final_books.first.title}" %>
    </div>
    <div class="col-xs-12 col-sm-7">
      <h2><%= @final_books.first.title %></h2>
      <p><%= @final_books.first.author %></p>
      <p>
        <%= @final_books.first.num_pages %> pages
        (<%= @reading_time/3600 %> hours of reading, don't forget to stay hydrated)
      </p>
      <p>
        <%#= @final_books.first.description %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat autem, nemo, est dolores, voluptatem, quibusdam saepe ipsa dolore commodi animi iusto facilis nam sapiente qui et nesciunt perspiciatis doloremque excepturi.
      </p>

      <div>
        <%#= link_to "THANKS SOPHIE I'LL TAKE THIS ONE",  %>
        <%= link_to "NOT SURE SHOW ME OTHER RESULTS", results_path, class: 'button-peach'  %>
      </div>
    </div>
  </div>
</div>







