<div id="single-book-nav">
  <%= link_to users_book_path(params[:id].to_i - 1) do %>
    <i class="fas fa-angle-left"></i>
  <% end %>

  <%= link_to users_book_path(params[:id].to_i + 1) do %>
    <i class="fas fa-angle-right"></i>
  <% end %>
</div>

<div class="container">

    <div id="single-book">
      <div id="single-book-image">
        <div id="book-extra">
          <ul>
            <li>
              <a class="book-extra-actions" data-toggle="modal" data-target="#myModal">
                review
              </a>
            </li>
            <li><%= link_to "recommend", "#", class: "book-extra-actions" %></li>
            <li>
              <a class="book-extra-actions" data-toggle="modal" data-target="#addmoodModal">
                link to mood(s)
              </a>
            </li>
            <li><%= link_to "add to a mood", "#", class: "book-extra-actions" %></li>
          </ul>
        </div>
        <% if @users_book.image_url.present? %>
          <%= image_tag @users_book.image_url %>
        <% end %>
      </div> <!-- end of single-book-image -->

      <div id="single-book-details">

        <div id="single-book-description">
          <h3><%= @users_book.title %></h3>
          <h4><%= @users_book.author %></h4>
          <p><%= simple_format(@users_book.description) %></p>
          <p>you've just started the book, <%= @users_book.num_pages %> pages left to read</p>

          <!-- Reading Progress Bar -->
         <p><%= @user_book.completed_pages%> out of <%=  @user_book.num_pages%> pages</p>
            <div class="bar">
              <div class="progress-bar" data-completedpages="<%=  @user_book.completed_pages %>" data-bookpages="<%=  @user_book.num_pages %>"></div>
            </div>
        </div>

        <div id="single-book-actions">
          <%= link_to "finished!", "#", class: 'button-blue' %>
          <%= link_to "update my reading", "#", class: 'button-border-blue' %>
          <%= link_to "delete this book", users_book_path(@users_book), method: :delete, class: 'button-border-blue' %>
        </div> <!-- end of single-book-actions -->

      </div>  <!-- end of single-book-details -->


    </div> <!-- end of #single-book -->


 </div> <!-- end of container -->

 <!-- add a mood modal -->
<div class="add-mood-container">
  <div class="modal fade" id="addmoodModal" tabindex="-1" role="dialog" aria-labelledby="addMoodModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h3>select reading moods that match this book</h3>

          <%= form_tag add_mood_path(@users_book), method: 'patch', id:"addmoodModal-form" do %>
             <%= select_tag "moods[]", options_from_collection_for_select(Mood.all, "id", "name"), multiple: 'multiple', class: "select2-mood-modal users_book-#{@users_book.id}", id: "mood-modal-#{@users_book.id}" %>
             <%= hidden_field_tag @users_book.id %>
             <button type="submit" class="button-border-blue">select moods</button>
          <% end %>

        </div> <!-- end of modal-body -->

        <div class="modal-footer">
          <button type="button" class="cta-neon" data-dismiss="modal">close</button>
        </div>
      </div> <!-- end of modal body -->
    </div>
  </div>
</div> <!-- end of add a mood modal -->


 <!-- Review Modal -->
<div class="review-modal-container">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

          <div class="modal-body">
          <h3 class="text-center"><span>leave a review</span></h3>
            <hr class="md-border-blue">
            <div class="review-modal-form-container"><span>

            <%= render 'reviews/form', users_book: @users_book, review: @review %>
            </span>

            </div>

          </div> <!-- end of modal content -->


        <div class="modal-footer" id="review-button">
        <div class="modal-accent">
          <p >leaving a review encourages others to read your favorite books. make it a great review!
          </p>
        </div>
          <button type="button" class="cta-neon" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end of review modal -->
