<div id="single-book-nav">
  <%= link_to users_book_path(params[:id].to_i - 1) do %>
    <i class="fas fa-angle-left"></i>
  <% end %>

  <%= link_to users_book_path(params[:id].to_i + 1) do %>
    <i class="fas fa-angle-right"></i>
  <% end %>
</div>

<div class="container">

    <div id="single-book">
      <div id="single-book-image">
        <div id="book-extra">
          <ul>
            <li>
              <a class="book-extra-actions" data-toggle="modal" data-target="#myModal">
                review
              </a>
            </li>
            <li><%= link_to "recommend", "#", class: "book-extra-actions" %></li>
            <li><%= link_to "add to a mood", "#", class: "book-extra-actions" %></li>
          </ul>
        </div>
        <% if @users_book.image_url.present? %>
          <%= image_tag @users_book.image_url %>
        <% end %>
      </div> <!-- end of single-book-image -->

      <div id="single-book-details">

        <div id="single-book-description">
          <h3><%= @users_book.title %></h3>
          <h4><%= @users_book.author %></h4>
          <p><%= simple_format(@users_book.description) %></p>
          <p>you've just started the book, <%= @users_book.num_pages %> pages left to read</p>
        </div>

        <div id="single-book-actions">
          <%= link_to "finished!", "#", class: 'button-blue' %>
          <%= link_to "update my reading", "#", class: 'button-border-blue' %>
        </div> <!-- end of single-book-actions -->

      </div>  <!-- end of single-book-details -->


    </div> <!-- end of #single-book -->



 <!-- Review Modal -->
<div class="review-modal-container">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

          <div class="modal-body">
          <h3 class="text-center"><span>leave a review</span></h3>
            <hr class="md-border-blue">
            <div class="review-modal-form-container"><span>

            <%= render 'reviews/form', users_book: @users_book, review: @review %>
            </span>

            </div>

          </div> <!-- end of modal content -->


        <div class="modal-footer" id="review-button">
        <div class="modal-accent">
          <p >leaving a review encourages others to read your favorite books. make it a great review!
          </p>
        </div>
          <button type="button" class="cta-neon" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>

</div>

    <div class="wrapper">
      <div class="review-container">
        <p class="cta-md">reviews</p>
        <div class="list-group">
            <div class="cards">
          <% @users_book.reviews.each do |review| %>
              <ul class="list-group-item">
                <small>
                  <% count = 0 %>
                  <% 5.times do %>
                    <% if review.rating > count %>
                      <i class="fas fa-star"></i>
                    <% else %>
                      <i class="far fa-star"></i>
                    <% end %>
                    <% count += 1 %>
                  <% end %>
                </small>
                <div class="card">
                  <li ><%= review.content %></li>
                </div>
              </ul>
            </div> <!-- end of cards -->
          <% end %>
        </div> <!-- end of list-group -->
      </div> <!-- end of container -->
    </div> <!-- end of wrapper -->

 </div> <!-- end of container -->

