<div>
  <div class="container">
    <div class="col-xs-12 col-sm-5">
      <% if @user_book.image_url.present? %>
      <p><%= image_tag @user_book.image_url, width: '60%' %></p>

      <% end %>

    </div>

    <div class="col-xs-12 col-sm-7">
      <h3><%= @user_book.title %></h3>
      <h4><%= @user_book.author %></h4>
      <p><%= simple_format(@user_book.description) %></p>
      <p><%= @user_book.num_pages %> pages</p>
      <br>
    </div>

    <div class="col-xs-12">
        <%= link_to  "RETURN TO YOUR PILE", root_path, class: 'md-underline'  %>
        <br>
        <br>
        <%= link_to  "ADD A BOOK TO YOUR PILE", new_users_book_path, class: 'md-underline'  %>
        <br>
        <br>
        <%= link_to  "SEARCH YOUR NEXT BOOK", search_path, class: 'md-underline'  %>
        <br>
        <br>
    </div>
   </div>
</div>









